i{
    color: #fff;
}

.imgsalud{
    background-color: #00B0BA;
}

.imgsocial{
    background-color: #FF5C77;
}

.imgtrabajo{
    background-color: #0065A2;
}

.imgcotidiano{
    background-color: #4DD091;
}

.imgdefault{
    background-color: #74737A;
}